<ion-view>
  <ion-content>
    <div id="map" data-tap-disabled="true"></div>
    <div id="controls">
      <button class="button button-block button-assertive" ng-show="UI_STATE === 'VIEW'" ng-click="setBomberTargettingState()" >
        Target for Bomber
      </button>
      <button class="button button-block button-assertive" ng-show="UI_STATE === 'VIEW'" ng-click="setBatteryTargettingState()" >
        Target for AA Gun
      </button>
      <button class="button button-block button-assertive" ng-show="UI_STATE === 'SEND_BOMBER'" ng-click="sendBomber()" >
        Send Bomber
      </button>
      <button class="button button-block button-assertive" ng-show="UI_STATE === 'SEND_BATTERY'" ng-click="sendAABattery()" >
        Send AA Gun
      </button>
      <button class="button button-block button-assertive" ng-show="UI_STATE !== 'VIEW'" ng-click="setViewState()" >
        Back
      </button>
      <br>
      <div><button ng-click="up()"> Up</button></div>
      <div>
        <button ng-click="left()">Left</button>
        <button ng-click="right()">Right</button>
      </div>
      <div><button ng-click="down()">Down</button></div>
      <br>
      <div><button ng-click="locationEvent(gameId)">Send location</button></div>
      <br>
      <br>
      <button class="button button-block button-assertive" ng-click="leaveGame()" >
        Leave game
      </button>
      <br>
      <h>Health: </h> <p>{{playerHealth}}</p>
      <p>{{score}}</p>
    </div>
  </ion-content>

</ion-view>
